user.name=Gautam Gupta
user.email=gautam@gaut.am
user.signingkey=gautam@gaut.am
push.default=simple
color.ui=true
alias.lol=log --pretty=oneline --abbrev-commit --graph --decorate
core.excludesfile=/Users/gautam/.gitignore_global
core.autocrlf=input
core.editor=vim
commit.template=/Users/gautam/.stCommitMsg
commit.gpgsign=true
gpg.program=gpg
